<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <p>Bem-vindo, <%= user.username %>!</p>
  <p>ID do usuário: <%= user.id %></p>
  
  <% if (bot) { %>
    <h2>Detalhes do Bot</h2>
    <p>Token do Bot: <%= bot.token %></p>
    <p>Prefixo: <%= bot.prefix %></p>
    <!-- Adicione mais detalhes do bot conforme necessário -->
    
    <h2>Variáveis</h2>
    <% if (variables.length > 0) { %>
      <ul>
        <% variables.forEach(variable => { %>
          <li><%= variable.name %> - <%= variable.value %> <a href="/edit-variable/<%= variable._id %>">Editar</a> | <a href="/remove-variable/<%= variable._id %>">Remover</a></li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>Nenhuma variável criada ainda.</p>
    <% } %>
    
  <% } else { %>
    <p>Você ainda não configurou um bot.</p>
    <a href="/create-bot" class="btn-create">Criar Bot</a>
    <!-- Adicione um formulário ou link para configurar um novo bot -->
  <% } %>

  <a href="/auth/logout">Sair</a>
</body>
</html>
